table {
	border-collapse: separate;
	border-spacing: 0 15px;
}
.table th {
	border-radius: 0;
	background: #f26f07 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	color: white;
}
.problem_heading {
	font-family: "Pretzel";
	text-transform: uppercase;
}
.table td {
	/* background: #ffffff 0% 0% no-repeat padding-box; */
	background-color: transparent;
	box-shadow: 0px 3px 6px #00000029;
	border: 0;
}
.level_dom {
	padding: 0.2rem 1rem;
	border-radius: 15px;
	background-color: #f26f07;
	color: white;
}
.tableHolder {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.t_heads {
	overflow-x: scroll;
	scrollbar-width: none;
}
.t_heads::-webkit-scrollbar {
	display: none;
}
.scrollit {
	overflow-y: scroll;
	height: 70vh;
}
.selection-container {
	display: flex;
	gap: 2rem;
}
.selection-container > .custom-select-box {
	width: 125px;
}
.searchBox {
	display: flex;
	/* justify-content: space-evenly; */
	align-items: center;
	border-radius: 15px;
	padding: 0.5rem;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
	border-radius: 38px;
	padding-left: 1rem;
	color: #707070;
}
.search::placeholder {
	color: #707070;
}
.searchBox > .magnifyGlass {
	height: 20px;
	width: 20px;
}
.search {
	margin-left: 8px;
	outline: none;
	width: 100%;
	font-size: 1rem;
}
.filter_selection {
	width: 511px;
}
.filter_mode {
	margin: 10px;
	display: flex;
	gap: 1rem;
	position: relative;
}
.marker {
	position: absolute;
	height: 2px;
	bottom: 0;
	width: 0;
	border-radius: 8px;
	background-color: black;
}
.custom-select-box {
	position: relative;
	margin: 10px 0;
	cursor: pointer;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 8px;
	overflow: hidden;
}
.level_menu {
	appearance: none;
	padding: 0.6rem;
	width: 100%;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	cursor: pointer;
}
.select-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 1rem;
}
.level_selection .link {
	font-size: 12px;
	margin: 0 10px;
	color: #736e6e;
}
.topics_list {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}
.topics_selection {
	margin: 3rem 10px;
	color: #736e6e;
}
.topics_selection h2 {
	font-size: 32px;
	font-weight: 600;
}

.topicbox {
	font-size: 13px;
	padding: 0.5rem;
	border-radius: 20px;
}
.topicbox:hover {
	cursor: pointer;
	background-color: #f26f07;
	color: white;
}
.topicbox > input {
	display: none;
}

.active {
	background-color: #f26f07;
	color: white;
}
.problems:hover {
	cursor: pointer;
	background-color: #ffb77e;
}
.topicbox > input:checked ~ .topicbox {
	background-color: aqua;
}
@media (max-width: 640px) {
	.searchBox {
		width: 80%;
		margin: 0 auto;
	}
}
