.title-heading {
  font-family: "Times New Roman", Times, serif;
}

@media screen and (max-width: 624px) {
  /* .around-position {
        position: relative;
    } */
  .alignment-around2 {
    margin-top: 67%;
  }
  .alignment-around3 {
    margin-top: 133%;
  }
  .alignment-around4 {
    margin-top: 163%;
  }
}

/* @media screen and (min-width: 624px) {
    .around-position {
        position: relative;
    }
    .alignment-around2 {
        margin-top: 67%;
    }
    .alignment-around3 {
        margin-top: 133%;
    }
    .alignment-around4 {
        margin-top: 163%;
    }
    
} */
