.forget_pg_main {
	width: 325px;
	margin: 0 2rem;
}
.button_t {
	width: 100%;
}
.login_back_link {
	width: 100%;
	color: #ec5207;
	background-color: transparent;
	border-color: #ec5207;
}
.login_back_link:hover {
	font-weight: 500;
	color: white;
	background-color: #ec5207;
}
.forget_page h1 {
	color: #ec5207;
}
.forget_page h1,
.forget_page p {
	margin-bottom: 1rem;
	cursor: default;
}
