
#ide-options-top {
    position: relative;
}

#ide-options-top > .right-floating-bar{
    position: absolute;
    top: 50px;
    right: 25px;
    height: 110px;
    width: 190px;
    background-color: rgb(196, 196, 196);
    z-index: 1;
}

.right-floating-bar > #triangle {
    position: absolute;
    top: -15px;
    right: 0px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent rgb(196, 196, 196) transparent;
    transform: rotate(0deg);
}

.output-box > p > .error-m{
    width: 155px;
    height: 25px;
    padding-left: 3px;
    border: 1px solid red;
    background-color: #fa9898;
    color: rgb(150, 0, 0);
    margin-left: 10px;
    margin-bottom: 10px;
}

.output-box > p > .success-m{
    width: 190px;
    height: 25px;
    padding-left: 3px;
    border: 1px solid rgb(21, 124, 0);
    background-color: #a1fca8;
    color: rgb(21, 124, 0);
    margin-left: 10px;
    margin-bottom: 10px;
}

.tab-box > div > .category-box {
    position: relative;
    margin-top: 5px;
    padding-top: 5px;
}

.tab-box > div > .category-box > .category-icon {
    position: absolute;
    z-index: 1;
    right: 13px;
    top: 22px;
}

